<a class="button" href="/add">+</a>

<div class="cards">
  <% products.forEach(item => { %>
  <div class="card">
    <img class="card__image" src="images/<%= item.image_url %>" alt="pizza" />
    <div class="card__content">
      <h1 class="card__title"><%= item.name %></h1>
      <p class="card__description"><%= item.description %></p>
      <p class="card__price">€<%= item.price %></p>
      <form
        class="card__actions"
        method="POST"
        action="/delete/product"
        <!--
        ←
        here!
        --
      >
        <a class="button" href="/edit/<%= item.slug %>">Edit</a>

        <input type="hidden" name="productId" value="<%= item.id %>" />
        <button
          type="submit"
          class="card__button card__button--danger"
          onclick="return confirm('Delete this product?');"
        >
          Delete
        </button>
      </form>
    </div>
  </div>
  <% }) %>
</div>
