<a class="button" href="product/add">+</a>

<div class="cards">
  <% products.forEach((item => { %>
  <div class="card">
    <img class="card__image" src="images/<%= item.image_url %>" alt="pizza" />
    <div class="card__content">
      <h1 class="card__title"><%= item.name %></h1>
      <p class="card__description"><%= item.description %></p>
      <p class="card__price">€<%= item.price %></p>
      <form class="card__actions" method="POST">
        <a class="button" href="/product/<%= item.slug %>">Edit</a>
        <!-- TODO: Fix actions to go down -->
        <input type="hidden" name="productId" value="<%= item.id %>" />
        <button type="submit" class="card__button card__button--danger">
          Delete
        </button>
      </form>
    </div>
  </div>
  <% })) %>
</div>
